.navbar {
    background-color: black;
    font-size: 14px;
    font-style: #ffffff;
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family:'Quicksand', 'sans-serif';
    position:fixed;
    top: 0;
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
    margin: 6px;
    padding-right: 10px;
}

.container {
    position: relative;
    margin-top: 50px;
}

.title-block {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    top: 110px;
    padding-left: 20px;
    padding-right: 20px;
}

.image {
    position: relative;
    width: 100px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

h1 {
    font-size: 69px;
    text-align: center;
    color:rgb(92, 72, 173);
    margin-bottom: 0;
    margin-top: -30;
    font-family: 'Sacramento', cursive;
   }

h2 {
    font-size: 18px;
    color:rgb(152, 137, 207);
    margin-top: -30px;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

h3 {
    font-size: 24px;
    padding-top: 30px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.outer {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    margin-bottom: 50px;
}

.flex-item {
    border: 1px;
    display: flex;
    flex-direction: column;
    align-content: center;
    max-height: 300px;
    margin-bottom: 140px;
    font-family: 'Quicksand', sans-serif;
}

.button1 {
    font-family: 'Quicksand', sans-serif;
    width: 100px;
    margin-left: 40px;
}

.button2 {
    font-family: 'Quicksand', sans-serif;
    width: 100px;
    margin-left: 40px;
}

.button3 {
    font-family: 'Quicksand', sans-serif;
    width: 100px;
    margin-left: 40px;
}

#more1 {display: none;}
#more2 {display: none;}
#more3 {display: none;}

p {
    margin-left: 40px;
}

h4 {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
}

.form {
    width: 300px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20;
    border-style: solid;
    border-width: 1px;
    padding: 18px;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 20px;
    
}

input {
    padding: 6px;
    width: 300px;
}

.fname {
    padding-bottom: 10px;
}
.lname {
    padding-bottom: 10px;
}
.email {
    padding-bottom: 10px;
}
.message {
    padding-bottom: 10px;
}
.button {
    padding-top: 15px;
}

.mapbox {
    background-color: rgb(152, 137, 207);
    align-content: center;
}
.map {
    align-content: center;
    padding: 10px;
    width: 300px;
    height: 200px;
}

.fab {
    width: 60px;
    font-size: 50px;
    color: rgb(128, 128, 128);
    text-align: center;
    text-decoration: none;
}

.fab:hover {
    opacity: 0.7;
}

.socials {
    text-align: center;
}

h5 {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
    .outer {
        flex-direction: row;
        margin-bottom: 0;
    }
    .flex-item {
        max-width: 220px;
        padding: 10px;
        flex-direction: column;
        font-size: 14px;
        margin-bottom: 60px;
    }
    .map {
        width: 700px;
        height: 400px;
    }
    .logo {
        width: 500px;
    }
    h1 {
        font-size: 120px;
        margin-top: 30px;
    }
    h2 {
        font-size: 24px;
        margin-top: -50px;
    }
    h3 {
        font-size: 30px;
    }
    a {
        font-size: 20px;
    }
    .form {
        margin-top: 40px;
    }
}

@media screen and (min-width: 1000px) { 
    .outer {
        flex-direction: row;
        margin-bottom: 50;
    }
    .flex-item {
        max-width: 400px;
        padding: 20px;
    }
    .map {
        width: 800px;
        height: 500px;
        padding: 50px;
    }
    .form { 
        width: 600px;
        background-color: white;
        margin-right: 150px;
        margin-top: 60px;
    }
    input {
        width: 500px;
    }
    .contact {
        display: flex;
        background-color: rgb(152, 137, 207);
    }
    h4 {
        font-size: 30px;
    }
    h3 {
        font-size: 30px;
    }
    .logo {
        width: 600px;
    }
    h1 {
        font-size: 140px;
        margin-top: 30px;
    }
    h2 {
        font-size: 28px;
        margin-top: -50px;
    }
    a {
        font-size: 28px;
    }
    .socials {
        margin-top: 50px;
    }
}